
hr {
	
	//-moz-box-sizing: border-box; /* Для Firefox */
	//-webkit-box-sizing: border-box; /* Для Safari и Chrome */
	//box-sizing: border-box; /* Для IE и Opera */

}

@font-face {
	font-family: 'EUR';
	src: url("../fonts/EUR/EUR.eot");
	src: local('☺'), url("../fonts/EUR/EUR.woff") format('woff'), url("../fonts/EUR/EUR.ttf") format('truetype'), url("../fonts/EUR/EUR.svg") format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body {
	height: 100%;
	font-size: 14px;
    font-family: "Arial";
    color: #000;

}

html {
	min-height: 500px;
}


html, body, div, header, section, footer, ul, li {
	margin: 0;
	padding: 0;
}


ul {
	list-style: none;
}


.wrapper {
	width: 1024px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	min-height: 195px;
}

#header-section-1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#link-logo {
	margin: 12px 0 0 0;
	display: block;
}

#header-contacts {
	margin: 40px 20px 0 0;
}

#header-contacts a{
    font-size: 18px;
    font-family: "EUR";
    color: rgb(235, 80, 23);
    text-decoration: none;
}

#nav-header {
	padding: 0 30px;
	margin: 18px 10px 0 10px;
	height:  43px;
	background: #231f20;
	border: 1px solid #e0e0e0;
	box-sizing: content-box;
}

#nav-header ul {
	height: 43px;
	display: flex;
}

#nav-header ul li{
	flex-basis: auto;
	flex-grow: 1;
	text-align: center;
	border-right: 1px solid #eb5017;
}

#nav-header ul li:last-child {
	border-right: 1px solid #231f20;
}

#nav-header ul li a{
	color: #fff;
	text-decoration: none;
	line-height: 43px;
	display: block;
}

#nav-header ul li a:hover {
	background: #eb5017;
}

#nav-header .nav-active {
	background: #eb5017;
}


#breadcrumb ul {
	margin-top: 12px;
	padding: 0;
	list-style: none;
	height: 18px;

}

#breadcrumb li {
	float: left;
}

#breadcrumb li:before {
	content: '\00a0 - ';
}

#breadcrumb li:first-child:before {
	content: '';
}


#breadcrumb li a{
	font-size: 12px;
	color: rgb(35, 31, 32);
	text-decoration: none;
	padding: 0;
	border-bottom: 1px solid black;
}

#breadcrumb li:first-child a{
	padding: 0;
}


#breadcrumb ul {
	margin-left: 30px;
}

.breadcrumb-active {
	font-size: 12px;
	color: rgb(35, 31, 32);
}


footer {
	box-sizing: border-box;
	background: #231f20;
	min-height: 55px;
	margin-top: 10px;
	border: 1px solid #e0e0e0;
	position: sticky;
	bottom: 0;
	position: fixed;
	//transform: translateX(-50%);
	left: 50%;
	width: 1024px;
}

#nav-footer ul{
	padding: 0;
	margin: 12px 60px 0 60px;
}

#nav-footer li {
	float: left;
	margin:0 24px 0 0;
	padding: 0 0 1px 0;
	border-bottom: 1px solid #fff;

}

#nav-footer li a {
	float: left;
	font-size: 12px;
  	color: #fff;
  	text-decoration: none;
}


#content {
	height: 100%;
	margin: 20px 0 0 30px;
}

#calculator form {
	width: 652px;
	height: 378px;
	background: #dfdfdf;
}

#calculator form {
	padding: 18px 0 0 0;
}

#calculator h1 {
	font-size: 30px;
	color: rgb(235, 80, 23);
	line-height: 1.067;
	margin: 0 0 0 100px;
	font-weight: normal;
}

#calculator-grid {
	display: flex;
	flex-direction: column;
	height: 225px;
	margin-top: 15px;
}

#calculator-grid > div {
	border: 0px solid red;
	box-sizing: content-box;
	height: 43px;
	//line-height: 43px;
}


#calculator-grid > div > div {
	margin: auto 0;
}

.calculator-grid-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 100%;
}

.calculator-grid-row > div:first-child {
	width: 190px;
	text-align: right;
	color: rgb(0, 0, 0);
}

.calculator-grid-row > div:nth-child(2) {
	padding-left: 30px;
	//width: 132px;
	//text-align: center;
}



#calculator-result {
	display: flex;
	height: 35px;
	margin: 28px 0 0 20px;
}

#calculator-result div:first-child {
	width: 135px;
}

#calculator-result input[type=submit] {
    background: url(../images/form/submit.png) no-repeat;
    width: 100px;
    height: 33px;
    border-radius: 7px;
    border-width: 0;
    cursor: pointer;
}

#result-value {
	line-height: 35px;
}
.result-label {
    font-size: 12px;
    color: #395306;
    font-weight: bold;
} 

.result-value {

}

#calculator input {
	background: #fff;
}

#calculator input[type=text], select{
    width: 88px;
    height: 21px;
    border: 1px solid #cfd1d2; 
    background: linear-gradient(to top, #e3e3e3 1px, white 2px);
    box-sizing: border-box;
    outline:none;
}

#calculator input[type=radio], label {
    display: block;
    float: left;
    margin: 0 10px 0 0;
    cursor: pointer;
}


/* чтобы дизайн бегунка и календаря не конфликтовали между собой */
#ui-datepicker-div  {
	z-index: 999 !important;
}

#calculation-details-button {
	font-size: 12px;
	cursor: pointer;
	border-bottom: 1px black dashed;
}

#calculation-details-button:hover {
	border-bottom: none;
}

.form-data-error {
	background: #ff9999;
} 