html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  border: 1px solid red;
}

.content2 {
  //flex: 1 0 100px;
  border: 1px solid black;
  height: 100px;
}


.footer {
  flex-shrink: 0;
  border: 1px solid red;
  height: 100px;
  background: blue;
}